/* Form - Custom Checkbox */
.checkbox-custom {
	position: relative;
	padding: 0 0 0 25px;
	margin-bottom: 7px;
	margin-top: 0;
}

.checkbox-custom.checkbox-inline {
	display: inline-block;
	vertical-align: middle;
}

.form-group .checkbox-custom.checkbox-inline {
	margin-top: 7px;
	padding-top: 0;
}

.checkbox-custom:last-child, .checkbox-custom:last-of-type {
	margin-bottom: 0;
}

.checkbox-custom input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 3px;
	margin: -6px 0 0 0;
	z-index: 2;
	cursor: pointer;
}

.checkbox-custom input[type="checkbox"]:checked + label:after {
	position: absolute;
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\F00C';
	top: 50%;
	left: 4px;
	margin-top: -5px;
	font-size: 11px;
	line-height: 1;
	width: 16px;
	height: 16px;
	color: #333;
}

.checkbox-custom input[type="checkbox"]:disabled {
	cursor: not-allowed;
}

.checkbox-custom input[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}

.checkbox-custom input[type="checkbox"]:disabled + label {
	cursor: not-allowed;
}

.checkbox-custom input[type="checkbox"]:disabled + label:before {
	background-color: #eee;
}

.checkbox-custom label {
	cursor: pointer;
	margin-bottom: 0;
	text-align: left;
	line-height: 1.2;
}

.checkbox-custom label:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -9px;
	width: 19px;
	height: 18px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #bbb;
	background: #fff;
}

.checkbox-custom label + label.error {
	display: block;
}

.checkbox-custom label:before {
	background: #282d36;
	border-color: #21262d;
}

.checkbox-custom input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-custom input[type="checkbox"]:disabled + label:before {
	background: #242830;
	border-color: #242830;
}

.checkbox-primary input[type="checkbox"]:checked + label:after,
.checkbox-primary input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-primary label:before,
.checkbox-primary label:before {
	background: #3A3888;
	border-color: #3A3888;
}

.checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #CCC;
}

.checkbox-success input[type="checkbox"]:checked + label:after,
.checkbox-success input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-success label:before,
.checkbox-success label:before {
	background: #47a447;
	border-color: #3f923f;
}

.checkbox-text-success input[type="checkbox"]:checked + label:after,
.checkbox-text-success input[type="checkbox"]:checked + label:after {
	color: #47a447;
}

.checkbox-warning input[type="checkbox"]:checked + label:after,
.checkbox-warning input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-warning label:before,
.checkbox-warning label:before {
	background: #ed9c28;
	border-color: #e89113;
}

.checkbox-text-warning input[type="checkbox"]:checked + label:after,
.checkbox-text-warning input[type="checkbox"]:checked + label:after {
	color: #ed9c28;
}

.checkbox-danger input[type="checkbox"]:checked + label:after,
.checkbox-danger input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-danger label:before,
.checkbox-danger label:before {
	background: #d2322d;
	border-color: #bd2d29;
}

.checkbox-text-danger input[type="checkbox"]:checked + label:after,
.checkbox-text-danger input[type="checkbox"]:checked + label:after {
	color: #d2322d;
}

.checkbox-info input[type="checkbox"]:checked + label:after,
.checkbox-info input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-info label:before,
.checkbox-info label:before {
	background: #5bc0de;
	border-color: #46b8da;
}

.checkbox-text-info input[type="checkbox"]:checked + label:after,
.checkbox-text-info input[type="checkbox"]:checked + label:after {
	color: #5bc0de;
}

.checkbox-dark input[type="checkbox"]:checked + label:after,
.checkbox-dark input[type="checkbox"]:checked + label:after {
	color: #fff;
}

.checkbox-dark label:before,
.checkbox-dark label:before {
	background: #171717;
	border-color: #0a0a0a;
}

.checkbox-text-dark input[type="checkbox"]:checked + label:after,
.checkbox-text-dark input[type="checkbox"]:checked + label:after {
	color: #171717;
}