/* Add here all your CSS customizations */

/* RS360 Personalized Buttons */
.btn-rs360-deep-blue{
	color: #FFFFFF !important;
	background-color: #114473 !important;
}
.btn-rs360-light-blue{
	color: #FFFFFF !important;
	background-color: #99bce8 !important;
}

.btn-transparent:hover{
	color: #114473 !important;
	border-color: #114473;
	background-color: transparent !important;
}

.btn-transparent:active{
	color: #114473 !important;
}
.btn-xlg
{
	padding: 38px 25px;
	font-size: 35px;
	line-height: 40px;
	border-radius: 3px;
}
.btn-card{
	min-height: 30px;
	line-height: 30px;
	font-size: 1.5em;
	font-weight: 800;
}

/* 
	SLIDER
*/
.tp-caption {
	text-shadow: 1px 1px 3px #e7e7e7;
}
.tp-caption a {
	color: #FFFFFF !important;
	text-shadow: 0px 0px 0px #2D88D6 !important;
}
.slider-container .main-label {
	color: #FFFFFF !important;
	font-size: 52px;
	line-height: 52px;
	font-weight: 400;
	text-shadow: 3px 3px 4px rgba(10, 10, 10, 0.35);
}
.slider-container.light .featured-label, .slider-container.light .top-label, .slider-container.light .main-label, .slider-container.light .bottom-label {
	color: #FFFFFF;
}

/* Backgrounds */
.section-start-now {
	background-color: #E4E8EC !important;
}
.testimonial-style-4 {
	background-color: white;
}

/* Margin Separators */
.top-xxmin {
	margin-top: 0px;
}
.top-xmin {
	margin-top: 3px;
}
.top-min {
	margin-top: 10px;
}
.top-md {
	margin-top: 30px;
}
.top-lg {
	margin-top: 50px;
}
.top-xlg {
	margin-top: 60px;
}
.top-xxlg {
	margin-top: 90px;
}
.bottom-5px {
	margin-bottom: 5px !important;
}
.bottom-xxmin {
	margin-bottom: 0px !important;
}
.bottom-xs {
	margin-bottom: 10px !important;
}
.bottom-md {
	margin-bottom: 30px !important;
}
.padding-bottom-md {
	padding-bottom: 90px !important;
}
.padding-md {
	padding: 10px !important;
}

/* Colors */
.text-white{
	color: #FFFFFF !important;
}
.text-light-blue{
	color: #B4CEEE !important;
}
.white-shadow{
	text-shadow: 1px 1px 3px #120E28;
}
 /* Text Sizes */
.text-sm {
 	font-size: 1.3em !important;
 }
 .text-md {
 	font-size: 1.4em !important;
 }
 .text-lg {
 	font-size: 1.9em !important;
 }
 .hr-deep-blue {
 	background-color: #2A3F95;
 }
 .hr-white {
 	background-color: #FFFFFF;
 }

 /* Text Format */
 .text-padding-md {
	padding: 11px 15px;
	font-size: 21px;
	line-height: 1.4;
 }
 .text-spacing {
 	line-height: 1.3em;
 }
 .text-spacing-md {
 	line-height: 1.6em !important;
 }
 .text-call-to-action {
 	font-size: 1.9em !important;
 	line-height: 1.4em;
 	color: #807777;
 }
  .text-call-to-action strong {
 	color: #99bce8; 
	font-family: "Shadows Into Light", cursive;
	font-size: 1.6em;
 }
 .text-call-to-action-info {
 	font-size: 1.9em !important;
 	line-height: 1.4em;
 	color: #2366A4;
 }
  .text-call-to-action-info strong {
 	color: #114473; 
	font-family: "Shadows Into Light", cursive;
	font-size: 1.6em;
 }

 /* Sections */
 .call-to-action {
 	margin-top: 0px !important;
 }

/* Slider Buttoms */
#btn-how, #btn-start {
 	position: absolute;
 	bottom: 20%;
 	z-index: 1000;
}
#btn-how {
 	left: 10%;
}
#btn-start {
 	right: 10%;
}

@media (min-width: 768px) {
	#btn-how {
 	left: 30%;
	}
	#btn-start {
	 	right: 30%;
	}
}

@media (min-width: 991px) {
	#btn-how {
 	left: 30%;
	}
	#btn-start {
	 	right: 30%;
	}

}

@media (min-width: 1200px) {
	#btn-how {
 	left: 30%;
	}
	#btn-start {
	 	right: 30%;
	}
}

/* Footer */
#footer {
	margin-top: 0px;
}
.menu-list {
	list-style: none;
}
.menu-list li a {
	color: #99bce8 !important;
}
/*#footer-logo{
	padding: 5px !important;
}
#footer-copyright{
	padding: 5px !important;
}
#footer-login-register{
	padding: 5px !important;	
}*/

/*#footer .footer-copyright {
    background: #060606;
    border-top: 1px solid #060606;
    margin-top: 10px;
    padding: 10px 0 5px;
}*/
#footer-copyright, #footer-login-register{
	padding: 15px !important;
}
#footer-login-register nav ul li a, .newsletter ul li a, .rs360-details ul li a {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 18px;
}
.contact-details ul li {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 22px;
}

#text-copyright {
	color: #333;
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
}


/* Section Start Now */
#start-now {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Section Statistics */
#statistics {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 30px !important;
	padding-bottom: 20px !important;
	background-color: #99bce8 !important;
	border-top-color: #99bce8 !important;
}

/* Section Title & Breadcrumbs */
.page-header {
	background-color: #030e3a;
}
.blockquote-info {
	padding: 25px;
	line-height: 30px;
}
.blockquote-info p {
	color: #999898;
}
/* Section Profetionals */
#profesionales {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Backgrounds */
.bg-deep-blue{
	background-color: #114473 !important;
}
.bg-deep-blue-transparent{
	background-color: rgba(17,68,115,0.8);
}
.modal .modal-header{
	background-color: #030e3a;
}
.modal .modal-content{
	color: #114473;
	/*background-color: rgba(17,68,115,0.7);*/
	/*background-color: rgba(236, 155, 40, 0.7);*/
	background-color: rgba(255, 255, 255, 0.85);
	
}
.modal .modal-header h4, .modal .modal-body .heading-default {
	color: #114473;
}
.modal .modal-body .heading-default {
	color: #030e3a;
}
.modal .modal-header h4 {
	color: #FFFFFF;
}

#header .header-body {
	background: rgba(256,256,256,0.8);
	box-shadow: 0px 2px 10px #888888;
}

.card {
	box-shadow: 0px 2px 10px #888888;
	padding: 40px !important; 
}

.btn-repeat-search {
	display: none;
}